body {background-color: bisque;}

h1 {color: blueviolet;
text-decoration: underline;}

.question {font-size: 24px;
font-weight: bold;}

.purple {color: rgb(122, 43, 172);
    font-size: 18px;}

.black {color: black;
font-size: 18px;}

.blue {color: blue;
font-size: 18px;}

h1, p {text-align: center;}

.center {  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%}

#copy {font-size: 14px;}